<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IService" sendTimeout="00:05:00"/>
                <binding name="BasicHttpBinding_IService2" sendTimeout="00:05:00"/>
                <binding name="BasicHttpBinding_IService3" sendTimeout="00:05:00"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54161/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="Heuristic.IService"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:57279/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="Greedy.IService"
                name="BasicHttpBinding_IService" />
            <endpoint address="http://albpt2-475462822.us-east-1.elb.amazonaws.com/WcfsALG1/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService2"
                contract="GreedyAWS.IService" name="BasicHttpBinding_IService2" />
            <endpoint address="http://albpt2-475462822.us-east-1.elb.amazonaws.com/WcfsHeuristicALG/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService3"
                contract="HeuristicAWS.IService" name="BasicHttpBinding_IService3" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="AllocationsApplication.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="AllocationsApplication.IService1">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/AllocationsApplication/Service1/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
